@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-quicksand {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}



/* shared style */
/* btn-style */
.btn-primary{
    background-color: #FEA301;
    color:#FFFFFF;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 10px 60px;
}
.btn-2nd{
    background-color: black;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
    padding: 10px 40px;
    color: white;
}
/* color-1 */
.color-orange{
   color:#FEA301;
}
/* color-2 */
.color-sky-blue{
    color: #01ACFD;
}
/* color-3 */
.color-aqua{
    color: #05D4DF;
}
/* color-4 */
.color-violet{
    color: #5D58EF;
}
/* Header style */

.header-container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items:center ;
  justify-content: space-evenly;
}
.school-logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.school{
    font-weight: 700;
    font-size: 2rem;
}
.nav-container ul{
    display: flex;
    gap:1.9rem ;
}
.nav-container ul li {
    list-style: none;
    
}
.nav-container a{
    text-decoration: none;
    font-weight: 700;
    font-size:1.25rem ;
}
.category-icon{
    display: none;
}
.hr-line{
    display: none;
}

/* main part hero section */
.hero-container{
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.hero-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.hero-description{
    font-size: 1.25rem;

}
.hero-img{
    max-width: 100%;
  
}
/* curriculum section */
.curriculum{
    background-image: url('/path-to-assets/bg.png');
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}
.curriculum-container{
   
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.curriculum-heading{
    font-weight: 700;
    font-size: 2.8rem;
}
.curriculum-card{
    height: 350px;
    max-width: 300px;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to bottom,rgba(255, 244, 220, 1), transparent);
    border-radius: 16px;
}
.curriculum-title{
font-weight: 700;
font-size: 1.28rem;
}

.curriculum-description{
    font-weight: 500;
    font-size: 1rem;
    color: rgba(128, 128, 128, 1);
    margin-top: 10px;
    margin-bottom: 20px;
}


.circle-btn{
    background-color: #FEA301;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.5rem;

}
.read-more{
    border: none;
    font-weight: 700;
    font-size: 1rem;
}


/* media queries */
@media screen and (max-width:676px) {
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
    .school,
    .nav-container,
    .contact
     {
        display: none;
    }
    .category-icon{
        display: block;
        font-weight: 600;
        font-size: 1.25rem;
    }
    .hr-line{
        display: block;
        border: 2px solid #FEA301;
        width: 100%;
    }
    .school-logo{
        justify-content: flex-start;
    }
    .hero-container{
    
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    .hero-img{
        max-width: 100%;
        text-align: center;
    }
    .hero-img img{
        max-width: 90%;
    }
    .curriculum-container{
        flex-direction: column;
    }
    .circle-btn{
        display: none;
    }
    
}
